<footer class="footer">
  <div class="footer-quote wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-lg-8"> 
          <img class="acs-footer-lockup" src="images/brand/chapter-lockup-white.png" width="360" height="99" loading="lazy" decoding="async" alt="ACS Student Chapter">
          <h2>Elemental Ideas: Your ACS Community at GSTU</h2>
        </div>
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end footer-quote -->
  <div class="footer-contact wow fadeIn">
    <div class="container">
      <div class="row"> 
        <div class="col-md-4">
          <address>
            GSTU, Gopalganj, Dhaka<br>
            Bangladesh
          </address>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4">
          <address>
            +880 1632 9324 16<br>
            +880 1580 8428 36
          </address>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4">
          <address>
            <a href="mailto:acs.bsmrstu@gmail.com">acs.bsmrstu@gmail.com</a>
          </address>
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end footer-contact -->
  <div class="footer-bottom wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h5>Connect with us</h5>
          <ul>
            <li><a href="https://www.facebook.com/acs.gstu">Facebook</a></li>
            <li><a href="https://www.youtube.com/@acs.gstu">Youtube</a></li>
            <li><a href="https://www.linkedin.com/company/acs-student-chapter-gstu">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/acs.gstu/">Instagram</a></li>
            <li><a href="https://twitter.com/acsgstu">Twitter</a></li>
          </ul>
        </div>
        <!-- end col-8 --> 
        <div class="col-lg-4 text-lg-right">
          <a href="index.html#membership" class="join-us-btn">Grab Your Membership</a>
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </div>
  <!-- end footer-bottom --> 
<div class="container editor-link"><a href="admin.html">Chapter editor</a></div></footer>
